:root {
  --color-primary: #55c57a;
  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;
  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;
  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;
  --color-grey-dark-1: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
  --color-white: #ffffff;
  --color-black: #000;
  --default-font-size: 1.6rem;
  --shadow-dark: 0 2rem 6rem #00000090;
  --shadow-light: 0 2rem 3rem #00000009;
  --btn-shadow: 0rem 0.5rem 1.5rem #00000047;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
html body {
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem) rotate(3deg);
  }
  80% {
    transform: translateX(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0) rotate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem) rotate(3deg);
  }
  80% {
    transform: translateX(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0) rotate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: var(--color-grey-dark-1);
  padding: 3rem;
  line-height: 1.7;
}

.heading-primary {
  margin-bottom: 7rem;
  color: var(--color-white);
  text-transform: uppercase;
}
.heading-primary--main {
  display: block;
  margin-bottom: 3rem;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInLeft 0.8s ease-in-out;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-in-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  color: transparent;
  letter-spacing: 1px;
}

.heading-tertiary {
  font-size: var(--default-font-size);
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: var(--default-font-size);
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-margin-top-small {
  margin-top: 2rem;
}

.btn, .btn:link, .btn:visited {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  border-radius: 10rem;
  transition: all 0.2s;
  outline: none;
  box-shadow: var(--btn-shadow);
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.4705882353);
}
.btn:active, .btn:focus {
  outline: none;
  transform: translate(-1px);
  box-shadow: var(--btn-shadow);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--white {
  background-color: var(--color-white);
  color: var(--color-grey-dark-1);
}
.btn--green {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn--animated {
  animation: moveInBottom 0.5s ease-in 0.5s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: var(--default-font-size);
  color: var(--color-primary);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
  padding: 0.5rem 1.5rem;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: var(--color-primary);
  color: white;
  box-shadow: var(--btn-shadow);
  border-radius: 2rem;
  transform: translateY(-2px) scale(1.1);
}
.btn-text:active {
  box-shadow: 0 0.15rem 0.4rem rgba(0, 0, 0, 0.2);
  transform: translateY(0) scale(1.07);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 65%;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: -5rem;
  top: 3rem;
}
.composition__photo--p3 {
  left: 25%;
  top: 13rem;
}
.composition__photo:hover {
  transform: scale(1.1) translateY(-1rem);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 1.5rem;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  flex: 0 0 20%;
  text-align: center;
  transition: all 0.3s;
}
.feature-box__icon {
  font-size: 6rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
  border-radius: 10px;
}

.tours {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10rem;
  width: 170rem;
  height: 55rem;
}

.card {
  flex: 0 0 25%;
  perspective: 150rem;
}
.card__side {
  position: relative;
  height: 100%;
  font-size: 3rem;
  transition: all 0.8s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
}
.card__side--front {
  background-color: var(--color-white);
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark));
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, var(--color-tertiary-light), var(--color-tertiary-dark));
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__picture {
  background-size: cover;
  height: 25rem;
  background-blend-mode: color;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url("../img/nat-5.jpg");
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark)), url("../img/nat-6.jpg");
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, var(--color-tertiary-light), var(--color-tertiary-dark)), url("../img/nat-7.jpg");
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-white);
  position: absolute;
  top: 15.5rem;
  left: 3rem;
  width: 50%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.7rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid var(--color-grey-light-2);
}
.card__cta {
  height: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.card__price-box {
  text-align: center;
  color: var(--color-white);
}
.card__price-only {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 300;
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
}
.story > * {
  transform: skewX(12deg);
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  border-radius: 50%;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
.story__img {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  transition: all 0.5s;
}
.story__text {
  transform: skewX(12deg);
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 80%);
  color: var(--color-white);
  font-size: 2rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story__img {
  transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(90%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.15;
}
.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid var(--color-primary);
}
.form__input:focus:invalid {
  border-bottom: 3px solid var(--color-secondary-dark);
}
.form__input::placeholder {
  color: var(--color-grey-dark-2);
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__radio-group {
  width: 49%;
  display: inline-block;
  position: relative;
}
.form__radio-label {
  font-size: var(--default-font-size);
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -1rem;
}
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid var(--color-primary);
  border-radius: 50%;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__radio-button::after {
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  opacity: 0;
  transition: opacity 0.2s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}
.form__radio-input {
  display: none;
}
.form__button {
  margin-top: 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
.header__logo-box {
  align-self: flex-start;
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 4rem;
}
.header__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

.about-natours {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20rem;
}
.about-natours__about {
  flex: 0 0 35%;
}
.about-natours__img {
  flex: 0 0 35%;
}

.section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30rem 0;
  margin-top: -20vh;
  background-color: var(--color-grey-light-1);
}

.section-features {
  display: flex;
  justify-content: space-evenly;
  padding: 30rem 20rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url("../img/nat-4.jpg");
  background-size: cover;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  margin-top: -20rem;
}

.section-tours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150rem;
  margin-top: -20rem;
  padding: 30rem 20rem 20rem;
  background-color: var(--color-grey-light-1);
}

.section-stories {
  height: 120rem;
  position: relative;
}
.section-stories__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 15rem 30rem;
  font-size: var(--default-font-size);
}

.section-book {
  padding: 15rem;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg");
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  height: 55rem;
  width: 110rem;
}
.book__form {
  width: 50%;
  padding: 6rem;
}

/*# sourceMappingURL=style.css.map */
