.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 3;
    box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.3);
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      box-shadow: 0 0.5rem 1.5rem rgba($color: #000000, $alpha: 0.4);
    }
    @include respond(laptop) {
      top: 4rem;
      right: 4rem;
    }
    @include respond(phone) {
      top: 2.5rem;
      right: 2.5rem;
      height: 6rem;
      width: 6rem;
    }
  }
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1;
    transform: scale(0);
    transition: transform 0.8s cubic-bezier(0.85, 0, 0.15, 1);
    @include respond(laptop) {
      top: 4.5rem;
      right: 4.5rem;
    }
    @include respond(phone) {
      top: 3rem;
      right: 3rem;
      height: 5rem;
      width: 5rem;
    }
  }
  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;

    opacity: 0;
    width: 10%;
    transform: translateX(40rem);
    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  &__list {
    list-style: none;
    @include centerHV;
    text-align: center;
    width: 100%;
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      padding: 1rem 2rem;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        var(--color-white) 50%
      );
      background-size: 230%;
      transition: all 0.4s;
      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }
    &:hover,
    &:active {
      color: var(--color-primary);
      background-position: 100%;
      transform: translateX(1rem);
    }
  }

  // functionality and animation
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    transform: translateX(0);
    opacity: 1;
    width: 100%;
  }

  // Icon
  &__icon {
    position: relative;
    margin-top: 3.4rem;
    transition: all 0.3s;
    @include respond(phone) {
      margin-top: 3rem;
    }
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: var(--color-grey-dark-3);
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.4s;
    }
    &::before {
      top: -0.8rem;
      
    }
    &::after {
      top: 0.8rem;
    }
  }
  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(-135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(135deg);
  }
}
