.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 2rem 4rem;
    font-size: 1.5rem;
    border-radius: 10rem;
    transition: all 0.2s;
    outline: none;
    box-shadow: var(--btn-shadow);
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0rem 1rem 2rem #00000078;
  }
  &:active {
    outline: none;
    transform: translate(-1px);
    box-shadow: var(--btn-shadow);
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--white {
    background-color: var(--color-white);
    color: var(--color-grey-dark-1);
  }

  &--animated {
    animation: moveInBottom 0.5s ease-in 0.5s;
    animation-fill-mode: backwards;
  }
}
