.section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30rem 0;
  margin-top: -20vh;
  background-color: var(--color-grey-light-1);
}

.section-features {
  display: flex;
  justify-content: space-evenly;
  padding: 30rem 20rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.7),
      rgba($color-primary-dark, 0.7)
    ),
    url("../img/nat-4.jpg");
  background-size: cover;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  margin-top: -20rem;
}

.section-tours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150rem;
  margin-top: -20rem;
  padding: 30rem 20rem 20rem;
  background-color: var(--color-grey-light-1);
}

.section-stories {
  height: 120rem;
  position: relative;

  &__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 15rem 30rem;

    // background-color: var(--color-grey-light-2);
    font-size: var(--default-font-size);
  }
}

.section-book {
  padding: 15rem;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba(white, 0.9) 0%,
      rgba(white, 0.9) 50%,
      transparent 50%
    ),
    url("../img/nat-10.jpg");
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.25);
  border-radius: 3px;
  height: 55rem;
  width: 110rem;
  &__form {
    width: 50%;
    padding: 6rem;
  }
}
